/* header formatting section begins here */

body {
  background-color: rgb(102, 124, 121);
  font-family: "Archivo";
  /* background-image: url(../images/aa.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 0;
  margin: 0;
}
.header-container {
  background-color: rgb(48, 51, 51);
  height: 15vh;
  border-bottom: 4px solid rgb(74, 172, 18);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.company-logo {
  height: 7vh;
}

.nav-bar {
  margin-left: 10vw;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li {
  display: inline;
  padding: 1em;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.nav-bar ul li a:hover {
  color: rgb(74, 172, 18);
  border-bottom: 1px solid white;
  padding-bottom: 1em;
}

button {
  background: rgb(48, 51, 51);
  color: white;
  border: 2px solid white;
  padding: 1em;
  width: 10vw;
  border-radius: 7px;
  font-family: inherit;
}

button:hover {
  background: rgb(74, 172, 18);
  color: white;
  border: 2px solid rgb(74, 172, 18);
  padding: 1em;
  width: 10vw;
  border-radius: 7px;
  cursor: pointer;
}
/*header formatting section ends here */
/*main section formatting starts here*/
.hero-unit-container {
  /* background-image: url("/images/Image1.jpg"); */
  background-image: url(../images/aa.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 70vh;
  text-align: center;
}
.hero-unit-container h1 {
  margin: 0em;
  padding-top: 20vh;
  font-size: 5em;
  color: cornsilk;
}
.paper-layout-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

.paper-layout-section h2 {
  text-align: center;
  color: white;
  font-size: 4rem;
}

.paper-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1vh;
  height: 68vh;
}

.card img {
  height: 35vh;
  width: 20vw;
}

.card {
  background-color: rgb(8, 58, 55);
  text-align: center;
  color: white;
  height: 60vh;
  width: 20vw;
  /* padding: 1em; */
  /* margin-bottom: 5em; */
  box-shadow: 5px 5px 30px rgb(47, 49, 49); /*Paper layout projection*/
  transition: all 400ms;
}
.card:hover {
  height: 66vh;
  /* width: 22vw; */
}
footer {
  background-color: rgb(48, 51, 51);
  color: white;
  height: 13vh;
  text-align: center;
  border-top: 4px solid rgb(74, 172, 18);
  border-bottom: 4px solid rgb(74, 172, 18);
  margin: 0;
  padding-top: 2em;
}

footer h2 {
  padding-top: 1em;
}
